@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    height: 100dvh;

    font-family: "Inter", sans-serif;
    font-size: 24px;

    color: #242424;
    background-color: aliceblue;
}

/* header {
    height: 10vh;
} */

main {
    height: 100vh;
}

.teste {
    box-shadow: 0 0 0 1px red;
}

.container {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.box {
    display: flex;
    flex-direction: column;
    align-items: center;

    max-width: 1200px;
    width: 100%;
}

.quadro {
    flex-direction: row;
    justify-content: space-between;
    gap: 10px;

    margin-top: 20px;

}

.categoria {
    flex: 1;
    height: 100%;
    border-radius: 4px;
    box-shadow: 0 0 3px #888;
    background-color: #fff;
}